<!-- quotes/templates/quotes/home.html --> 
{% extends 'quotes/base.html'%}

{% block content %}
        <h1>About Cardi B</h1>
        <h2>Rapper & Entretainer (lowkey cultural icon)</h2>

        <p>
            Cardi B, born Belcalis Marlenis Almánzar in the Bronx, rose from viral internet fame to become one of the most influential female rappers of her generation. Known for her unapologetic personality and chart-topping hits like Bodak Yellow and WAP, she’s broken industry records, and won a Grammy.
        </p>
{% endblock%}