<!-- mini_insta /update_post_form.html
# File: update_post_form.html
# Author: Luisa Vazquez Usabiaga (lvu@bu.edu), 10/10/2025
# Description: display the HTML form to update a Post
-->

{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}
<h2>Update a Post</h2>

<form method = 'POST' enctype="multipart/form-data">
{% csrf_token %}

 <!-- Diplay fields from form for Post -->
    <table>
    {% for field in form %}
    <tr>
        <th>{{field.name}}</th>
        <td>{{field}}</td>
    </tr>
    {% endfor %}
    <tr>
        <!-- Form to submit/cancel request -->
        <td></td>
        <td>
            <button type="submit" name="update_post">
                <img src="{% static 'images/update_icon.png' %}" alt="Update" width="100">
            </button>
            <a href="{% url 'post' form.instance %}">
                <img src="{% static 'images/cancel_icon.png' %}" alt="Cancel" width="100">  
            </a>
        </td>
    </tr>
    </table>
</form>

{% endblock %}
